* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.hero {
    background: url("hero.png") no-repeat center top;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;   /* pushes content down */
    padding-bottom: 80px;    /* space from bottom */
    position: relative;
}
    

.hero-overlay {
    background: rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 20px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    background-color: #d4af37;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
}
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.about p,
.contact p {
  text-align: center;
}

.services ul {
  list-style: none;
  text-align: center;
}

.services li {
  padding: 8px 0;
}

.note {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: #777;
}

.gallery-box {
  margin-top: 20px;
  background-color: #f7f7f7;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
}


footer {
  background-color: #fbe7c6;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 25px;
}

.gallery img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
/* Lightbox */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#lightbox span {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
